.container{
    padding-top: 5%;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.image-container{
    max-width: auto; /* Limit image container width */
    height: 100%;
}

.image-container img{
    width: 100%; /* Ensure image fills its container */
    height: auto; /* Maintain aspect ratio */

}

.text-container{
    max-width: 50%;
    width: 45%;
    padding: 20px;
    margin-left: 10%;
}


@media (max-width: 1000px) {
    *{
        margin: 0;
        padding: 0;
    }
    .container {
        flex-direction: column; /* Stack elements vertically on smaller screens */
        align-items: center; /* Center elements horizontally */
        position: relative;
        margin-left: auto;
        margin-right: auto;
    }
    .image-container, .text-container {
        min-width: 100%; /* Full width for both elements on smaller screens */
        margin:0%;
    }
}