.welcome__page{
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    width: 100%;
    height: 100%;
    background-color:#97cba9;
}


.welcome__page>*{
    padding: 10px;
    margin: 10px;
    flex: 1 100%;
    border-radius: 10px;
}



.navigation{
    padding-top: 1%;
    width: 100%;
    height: fit-content;
    margin-bottom: 1%;
    flex-wrap: wrap;
}

.nav__link{
    margin: 1%;
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.nav__link:hover{
    margin: 1%;
    text-decoration: none;
    color:#feffdf;
    font-weight: 500;
}



.contact__info{
    display: flex;
    height: fit-content;
    padding-left: 8%;
    padding-bottom: 1%;
    padding-top: 5%;
    width:100%;
    z-index: +1;
}

.social__link{
    margin: 5px;
}




.main__content{
    height: 50%;
    padding-bottom: 5%;
    padding-top: 3%;
    background-color:#dde0ab;
}

.contents{
    width: 70%;
    margin-left: 20%;
    text-align: start;
}


.text__header{
    font-size: 300%;
    font-weight: 800;
    margin-bottom: 0%;
}

.text__description{
    color: #668ba4;
    font-size: large;
}

.btn{
    padding: 3%;
    border: none;
    border-radius: 10px;
    background-color:#668ba4;
    margin-right: 5%;
    font-size: large;
    color:#feffdf;
    margin-bottom: 5%;
}

.btn:hover{
    padding: 3%;
    border: none;
    border-radius: 10px;
    background-color: #feffdf;
    margin-right: 5%;
    font-size: large;
    color: #668ba4;
    margin-bottom: 5%;
}

.btns{
    padding-top: 5%;
}




.additional__btns{
    background-color:#dde0ab;
    position: relative; /* Set position to relative */
    display: flex;
    align-items: center;
    padding-bottom: 20%;
    padding-top: 0%;
    z-index: +1;
}

.background-image {
    position: absolute; /* Set position to absolute */
    margin-top: 10%;
    top: 0; /* Position at the top of the container */
    left: 0; /* Position at the left of the container */
    width: 100%; /* Set width to cover the entire container */
    height: 100%; /* Set height to cover the entire container */
    background-image: url('actualfamily.png'); /* Set the background image */
    background-repeat: no-repeat;
    background-position: 50% 100%; /* Position the background image at the bottom center */
    background-size:contain;
    z-index: -1; /* Move the background image behind the buttons */
}



.additional__btn{
    font-size: larger;
    background-color: #668ba4;
    color: #feffdf;
    border: none;
    border-radius: 30px;
    font-weight: 900;
    padding: 2%;
    margin-right: 26%;
    margin-left: 10%;
    height: fit-content;
    min-width: 20%;
}

.additional__btn:hover{
    font-size: larger;
    background-color: #feffdf;
    color: #668ba4;
    border: none;
    border-radius: 30px;
    font-weight: 900;
    padding: 2%;
    margin-right: 26%;
    margin-left: 10%;
    height: fit-content;
    min-width: 20%;
}

#home__loan{
    margin-top: 10%;
}




@media all and (min-width: 800px){
    .main__content{
        flex: 2;
        order: 1;
    }

    .additional__btns{
        order: 2;
    }



    .contact__info{
        order: 3;
    }
}

@media all and (min-width: 600px){
    .additional__btns{
        flex: 3;
    }
}