.partners-page{
    padding-top: 3%;
    padding-bottom: 3%;
    background-color: rgb(255, 243, 249);
}

.partners-page h3{
    width: 100%;
    text-align: center;
    padding-bottom: 2%;
    margin-bottom: 3%;
}